{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('home') }}
{% endblock %}
{% block body%}
	

	<a href="{{ path('app_category_index') }}">category</a>
	<a href="{{ path('app_product_index') }}">product</a>


{% endblock %}
