{% extends 'base/base.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('home') }}
{% endblock %}
{% block body%}
	

	<a href="{{ path('app_user_index') }}">category</a>
	


{% endblock %}
