{% extends 'base/base.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('home') }}
{% endblock %}
{% block body%}
	

	<a href="{{ path('index_admin') }}" class="btn btn-success">admin</a>
	


{% endblock %}
