{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('home') }}
{% endblock %}
{% block body%}
	<p class="c-blue">controller_name</p>
	<p class="text-success">text</p>
{% endblock %}
