<div class="container">
        
        {{ form_start(form) }}
        
        
        {% for fieldName, field in form.children %}
            <div>
                {{ form_row(field) }}
            </div>
        
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
        {{ form_end(form) }}
        
        <div class="col col-6"></div>
    </div>
